
# Ignore Firebase credentials
**/firebase-service-account.json
**/firebase-service-account.txt

# Ignore Maven build output
target/
*/target/

# Ignore IDE and OS files
.idea/
.vscode/
*.iml
.DS_Store
